@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-primary: #3b82f6;
  --color-success: #10b981;
  --color-danger: #ef4444;
}

body {
  background-color: var(--color-background);
  color: #e2e8f0;
  -webkit-font-smoothing: antialiased;
}
